.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 100%;
}
.roundItem {
    width: 13%;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    
}
.roundItem_image{
    /* width: 8%; */
    /* height: 10px; */
    text-align: center;
}
.img {
    height: 10px;
}

.roundItem_h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 40px;


}

.roundItem_text {
    margin-top: 20px;
    text-align: center;
    word-wrap: break-word;
    font-size: 0.775rem;

    


}