.littleCards_content{
    margin-right: 15%;
    margin-left: 15%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
    /* background-color: rgb(239, 222, 239); */
}

.littleCards_item{
    width: 33.3%;
    display:flex;
    justify-content: space-around;
    /* align-items: center; */

}

.littleCards_image{

}

.littleCards_text{
width: 70%;

}

.littleCards_h2{
font-weight: 600;
font-size: 1,125rem;
margin-top: -5px;
}

.littleCards_lowtext{
    margin-top: 20px;
    font-size: 12px;

}